---
import SectCustom from "./SectCustom.astro";
---

<SectCustom img="img/intro2.jpg" title="A few fackts about our planet">
  <div class="facktcards">This is our home</div>
  <div class="facktcards">This is home four our animals</div>
  <div class="facktcards">We shoult take care of it</div>
</SectCustom>

<style>
  .facktcards {
    background-color: aquamarine;
    border-radius: 30px;
    text-align: center;
    line-height: 2em;
    padding: 0 1em;
    font-size: 12px;
  }
</style>
