---
import SectCustom from "./SectCustom.astro";
---

<SectCustom img="img/intro2.jpg" title="A few fackts about our planet">
  <div class="facktcards">This is our home</div>
  <div class="facktcards">This is home four our animals</div>
  <div class="facktcards">We shoult take care of it</div>
</SectCustom>

<style>
  .facktcards {
    position: relative;
    background-color: aquamarine;
    border-radius: 30px;
    text-align: center;
    line-height: 2em;
    padding: 0 1em;
    font-size: 12px;
    z-index: 0;
  }
  
  @media(max-width: 767.98px){
    .facktcards:nth-child(2n){
      align-self: end;
    }
    .facktcards:nth-child(2n+1){
         align-self: start;

    }
    .facktcards:nth-child(2n)::after{
      right: 0;
      transform: rotate(-180deg);
    }
    .facktcards:nth-child(2n+1)::after{
      left: 0;
      transform: rotate(90deg);
    }
    .facktcards::after{
      position: absolute;
      bottom: -12px;
      height: 2em;
      width: 2em;
      content: "";
      background-color: aquamarine;
      transform: rotate(90deg);
      z-index: -1;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
  }
</style>
