---
import SectCustom from "./SectCustom.astro";
---

<SectCustom img="img/land.jpg" title="A few fackts about our planet">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero
    recusandae molestiae esse, tempora placeat quasi soluta, ad sed dolorum
    reiciendis quam atque pariatur officia expedita, quo facilis! Molestias,
    earum. Eos, optio nesciunt? Molestias assumenda deserunt unde, dicta ab
    dolore sequi rerum incidunt, iure laudantium dignissimos quis aperiam
    aliquid repellendus nam minima porro. Necessitatibus, dolorem sed esse saepe
    eius eum. Quibusdam, dolore asperiores? Debitis, earum cum tenetur suscipit
    optio ratione accusamus iure officiis dolorum, minima minus neque eum
    explicabo soluta. Blanditiis rem placeat dignissimos magnam aliquam dolore
    ullam eos tempore. Quisquam facere porro blanditiis laborum
  </p>
</SectCustom>

<style>
  p {
    padding: 3em;
  }
</style>
