---

---

<section>
  <h2>Lets save the Planet togather! Join us!</h2>
  <form>
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="E-Mail" name="email" />
    <button
      >Register!
      <img
        class="form-img"
        width="24"
        height="24"
        src="public/img/planet.svg"
        alt=""
      />
    </button>
  </form>
</section>

<style>
  section {
    padding: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
  }
  button {
    padding: 0 2rem;
    border-radius: 2rem;
    line-height: 2rem;
    align-self: center;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  h2 {
    text-align: center;
    margin-bottom: 2.5em;
  }
  input {
    padding-inline: 1em;
    line-height: 2em;
  }
</style>
