---
import "@fontsource-variable/inter";
import SideBar from "../components/SideBar.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <SideBar />
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
  }
  body {
    font-family: "Inter Variable", sans-serif;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  body::after {
    filter: hue-rotate(180deg);
    background: url(/img/bg.svg) center/cover no-repeat;
    background-attachment: fixed;
    content: "";
    position: absolute;
    inset: 0;
    z-index: -3;
    opacity: 0.1;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 68px;
    padding-bottom: 100px;
  }
</style>
